@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

body {
  --font: "Lato", sans-serif;
  --background: #050511;
  --main-card: #0f0f16;
  --h1-back: linear-gradient(90deg, #25c0f9 0%, #05b6a7 100%);

  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
