@use "./screen";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0em;
  will-change: tranlate rotate;
  animation: anim 0.5s;
  position: relative;
  transition: var(--progress-transition);

  @keyframes anim {
    0% {
      translate: 220px 120px;
      rotate: -20deg;
    }

    100% {
      translate: 0px;
      rotate: 0;
    }
  }
  @include screen.devices("sm") {
    margin: 4em 4em;
    background: var(--main-card);
  }

  @include screen.devices("lg") {
    margin: 4em 15em;
  }

  @include screen.devices("lg") {
    margin: 4em 17em;
  }
}

.svg {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 900;
  height: 40px;
  width: 40px;
  color: rgb(0, 126, 175);
  fill: rgb(16, 127, 255);
}

.h1 {
  font-family: var(--font);
  font-weight: 800;
  font-size: 42px;
  line-height: 58px;

  background: var(--h1-back);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @include screen.devices("sm") {
    font-size: 48px;
  }
}

.inputHold {
  margin: 1.5em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    display: flex;
    margin: 2em 0 0 0;
    flex-direction: column;
  }

  label {
    display: inline;
    color: var(--label-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    padding: 0 0 0 0.2em;
  }

  input {
    display: inline;
    width: 226px;
    height: 36px;
    box-shadow: 0 0 420px 3px var(--input-border);
    color: var(--input-color);
    padding: 0 0 0 1em;
    background: var(--input-back);
    border: none;
    border-bottom: 4px solid var(--input-border);
    outline: none;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: var(--placeholder);
    }
  }
}
