.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  font-family: var(--font);
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  background: var(--h1-back);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
