.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-card);
  margin: 4em 4em;
}

.h1 {
  font-family: var(--font);
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  background: var(--h1-back);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.form {
  div {
    margin: 1.5em 0 0 0;
  }

  label {
    display: block;
    color: var(--label-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    padding: 0 0 0 0.2em;
  }

  input {
    width: 226px;
    height: 36px;
    padding: 0 0 0 1em;
    background: var(--input-back);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: var(--placeholder);
    }
  }
}

.btnHold {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    // position: absolute;
    // width: 122px;
    // height: 36px;

    background: #0a1c2d;
    border: 2px solid #257bab;
    border-radius: 10px;
    padding: 0.2em 1em;

    /* Next */

    // position: absolute;
    // width: 45px;
    // height: 25px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #25c0f9;
  }
}
