.btnHold {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 7em;
  margin: 5em 0;

  button {
    background: var(--input-back);
    border: 2px solid var(--input-border);
    padding: 0.2em 1.7em;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    transition: scale var(--transition-btn);

    color: var(--button-color);
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }
}
