@use ".././styles/screen";

.btnHold {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2em;
  margin: 5em 0;

  @include screen.devices(sm) {
    gap: 7em;
  }

  button {
    background: var(--button-back);
    border: none;
    padding: 0.2em 1.7em;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    transition: scale var(--transition-btn);
    color: var(--round-text);
    cursor: pointer;
    &:hover {
      scale: 1.1;
    }
  }
}
