.main {
  width: 60%;
}
.roundHold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  isolation: isolate;
}

.progress {
  width: 96%;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 12px;
  z-index: -1;
  position: absolute;
  background: var(--round-back);
}

.progressFill {
  left: 5px;
  height: 12px;
  z-index: -1;
  transition: width var(--progress-transition);
  position: absolute;
  background: var(--progress-back);
}
.round {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "lato";
  font-size: 1.3rem;
  font-weight: 900;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--round-back);
  color: var(--round-text);
  transition: var(--progress-transition);

  &__color {
    transition-delay: 0.1s;
    @extend .round;
    background: var(--round-back-blue);
  }
}
